$danger: rgb(148, 17, 17);
$white: white;
$boxShadow: 0px 0px 19px 1px rgb(153 153 153 / 41%);
$black: black;
$lightGrey: rgb(228, 228, 228);
$lightGreyTwo: #dce1e4;
$lightGreyThree: rgb(240, 240, 240);
$darkerLightGrey: #e6e6e6;
$darkNavyBlue: #022550;
$transparentBlack: #000000c9;
$linkHoverLightBlue: rgb(0, 140, 255);
$dropBgGrey: rgb(223, 223, 223);
$btnElectic: #024b68;
$btnPurple: #58023c;
$btnRed: #780505;
$btnBlueGreen: #02575e;
$btnBlueDareker: #024b68;
$btnLightBlue: #0375a3;
