@import 'fonts';
@import './colors';

@mixin buttonStyleBlue {
  border: none;
  border-radius: 12px 12px 0 0;
  color: $white;
  padding: 10px 20px;
  background: $btnBlueDareker;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: $fontFamily;
  font-size: 17px;
  border-bottom: none;
  border: 1px solid $btnBlueDareker;

  &:hover {
    border: 1px solid $btnBlueDareker;
    color: $btnBlueDareker;
    background: $white;
    border-bottom: none;
  }
}
@mixin buttonStyleRed {
  border: none;
  border-radius: 12px 12px 0 0;
  color: $white;
  padding: 10px 20px;
  background: $btnRed;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: $fontFamily;
  font-size: 17px;
  border-bottom: none;
  border: 1px solid $btnRed;

  &:hover {
    border: 1px solid $btnRed;
    color: $btnRed;
    background: $white;
    border-bottom: none;
  }
}
@mixin buttonStyleLightBlue {
  border: none;
  border-radius: 12px 12px 0 0;
  color: $white;
  padding: 10px 20px;
  background: $btnLightBlue;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: $fontFamily;
  font-size: 17px;
  border-bottom: none;
  border: 1px solid $btnLightBlue;

  &:hover {
    border: 1px solid $btnLightBlue;
    border-bottom: none;
    color: $btnLightBlue;
    background: $white;
  }
}

@mixin buttonStyleShopDraker {
  border: none;
  border-radius: 12px 12px 0 0;
  color: $white;
  padding: 10px 20px;
  background: $btnPurple;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: $fontFamily;
  font-size: 17px;
  border-bottom: none;
  border: 1px solid $btnPurple;

  &:hover {
    border: 1px solid $btnPurple;
    border-bottom: none;
    color: $btnPurple;
    background: $white;
  }
}

@mixin buttonStyleGreenDraker {
  border: none;
  border-radius: 12px 12px 0 0;
  color: white;
  padding: 10px 20px;
  background: $btnBlueGreen;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: $fontFamily;
  font-size: 17px;
  border-bottom: none;
  border: 1px solid $btnBlueGreen;

  &:hover {
    border: 1px solid $btnBlueGreen;
    border-bottom: none;
    color: $btnBlueGreen;
    background: $white;
  }
}

@mixin buttonStyleBlueDark {
  border: none;
  border-radius: 12px 12px 0 0;
  color: $white;
  padding: 10px 20px;
  background: $darkNavyBlue;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: $fontFamily;
  font-size: 17px;
  border-bottom: none;
  border: 1px solid $darkNavyBlue;

  &:hover {
    border: 1px solid $darkNavyBlue;
    color: $darkNavyBlue;
    background: $white;
    border-bottom: none;
  }
}
