@import 'fonts';

@mixin buttonStyleBlue {
  border: none;
  border-radius: 12px 12px 0 0;
  color: white;
  padding: 10px 20px;
  background: #024b68;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: $fontFamily;
  font-size: 17px;
  border-bottom: none;
  border: 1px solid #024b68;

  &:hover {
    border: 1px solid #024b68;
    color: #024b68;
    background: white;
    border-bottom: none;
  }
}
@mixin buttonStyleRed {
  border: none;
  border-radius: 12px 12px 0 0;
  color: white;
  padding: 10px 20px;
  background: #780505;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: $fontFamily;
  font-size: 17px;
  border-bottom: none;
  border: 1px solid #780505;

  &:hover {
    border: 1px solid #780505;
    color: #780505;
    background: white;
    border-bottom: none;
  }
}
@mixin buttonStyleLightBlue {
  border: none;
  border-radius: 12px 12px 0 0;
  color: white;
  padding: 10px 20px;
  background: #0375a3;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: $fontFamily;
  font-size: 17px;
  border-bottom: none;
  border: 1px solid #0375a3;

  &:hover {
    border: 1px solid #0375a3;
    border-bottom: none;
    color: #0375a3;
    background: white;
  }
}

@mixin buttonStyleShopDraker {
  border: none;
  border-radius: 12px 12px 0 0;
  color: white;
  padding: 10px 20px;
  background: #58023c;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: $fontFamily;
  font-size: 17px;
  border-bottom: none;
  border: 1px solid #58023c;

  &:hover {
    border: 1px solid #58023c;
    border-bottom: none;
    color: #58023c;
    background: white;
  }
}

@mixin buttonStyleGreenDraker {
  border: none;
  border-radius: 12px 12px 0 0;
  color: white;
  padding: 10px 20px;
  background: #02575e;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: $fontFamily;
  font-size: 17px;
  border-bottom: none;
  border: 1px solid #02575e;

  &:hover {
    border: 1px solid #02575e;
    border-bottom: none;
    color: #02575e;
    background: white;
  }
}

@mixin buttonStyleBlueDark {
  border: none;
  border-radius: 12px 12px 0 0;
  color: white;
  padding: 10px 20px;
  background: #022550;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: $fontFamily;
  font-size: 17px;
  border-bottom: none;
  border: 1px solid #022550;

  &:hover {
    border: 1px solid #024b68;
    color: #022550;
    background: white;
    border-bottom: none;
  }
}
