@import '../../styles/colors';
.chosen-weapon {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: $lightGreyThree;
  border-radius: 12px;
  .my-weapon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    img {
      width: 100%;
      height: auto;
    }
  }
}
